<mat-nav-list>
    <h2 matSubheader id='topsidebar'>Pages</h2>

    <a mat-list-item [routerLink]="['/']" routerLinkActive="list-item-active">Main Page</a>
    <a mat-list-item [routerLink]="['/clusteranalysis']" routerLinkActive="list-item-active">Cluster Analysis</a>
    <a mat-list-item [routerLink]="['/paramweight']" routerLinkActive="list-item-active">Parameters' Weights</a>
    <a mat-list-item [routerLink]="['/correlation']" routerLinkActive="list-item-active">Correlation Between Attributes</a>

    <mat-divider></mat-divider>
</mat-nav-list>


