<mat-nav-list>
    <h2 matSubheader id='topsidebar'>Pages</h2>

    <a mat-list-item [routerLink]="['/']" routerLinkActive="list-item-active">Main Page</a>
    <a mat-list-item [routerLink]="['/bubblechart']" routerLinkActive="list-item-active">Clustering</a>
    <a mat-list-item [routerLink]="['/paramweight']" routerLinkActive="list-item-active">Parameters' Weights</a>
    <a mat-list-item [routerLink]="['/heatmap']" routerLinkActive="list-item-active">Heatmap</a>

    <mat-divider></mat-divider>
</mat-nav-list>


