mat-card{
  vertical-align: top;
  display:inline-block;
}

/**
#col {
  display: inline-block;
}

#definition{
  margin-left: 20px;
  width:700px;
  display: block;
}

#sp {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}
*/

