#container {
    width:100%;
    height: 80px;
}

#title{
    padding: 10px;
    float:left;
    width:100px;
}

#Legend {
    padding: 15px;
    font-size: 14px;
}

#Selection{
    float:right;
    margin-right: 50px;
}
