<mat-card id="container">
    <mat-card-title id="title">Genres</mat-card-title>
    <svg id="Legend"></svg>
    <div id="Selection">
        <mat-form-field >
            <mat-label>Radius By Sales Of</mat-label>
            <mat-select (selectionChange)="onRegionSelection($event.value)" [(value)]="regions[0].value">
                <mat-option *ngFor="let region of regions" [value]="region.value">
                    {{region.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-card>

<div id="bubble-chart"></div>