<mat-toolbar color="grey">
        <span>Color Legend</span>
        <svg id="Legend"></svg>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" id="Selection">
            <mat-form-field >
                <mat-label>Radius By</mat-label>
                <mat-select (selectionChange)="onRegionSelection($event.value)">
                    <mat-option *ngFor="let region of regions" [value]="region.value">
                        {{region.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
  </mat-toolbar>
  

<div id="bubble-chart"></div>